<connectionStrings>
  <add name="IceCreamEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=icecreamserver.database.windows.net;initial catalog=IceCreamAzure;persist security info=True;user id=admintamar;password=greengrass20@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>